.other-solutions-container {
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
    font-family: Arial, sans-serif;
    gap: 40px;
    min-height: 450px;
}

.left-content {
    flex: 1;
    max-width: 35%;
}

.subtitle-service {
    color: #888;
    font-weight: 600;
    margin-bottom: 8px;
}

.title-service {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 16px;
}

.title-service span {
    color: #2b1faa;
}

.description-service {
    margin-bottom: 20px;
    line-height: 1.6;
}

.discover-button {
    background-color: #1b154b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 16px;
}

.discover-button:hover {
    background-color: #3730a3;
}

.customer-info {
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: center;
    gap: 10px;
    color: #333;
    font-weight: 500;
}

.customer-info-container {
    display: flex;
}

.customer-info-container img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
}

.customer-info-container img:nth-child(1) {
    z-index: 3;
}

.customer-info-container img:nth-child(2) {
    margin-left: -6px;
    z-index: 2;
}

.customer-info-container img:nth-child(3) {
    margin-left: -6px;
    z-index: 1;
}

.customer-info span {
    width: 210px;
    height: 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #1b154b;
}

.user-icon {
    color: #2b1faa;
}

.right-content {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.solution-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    /* tăng đổ bóng rõ hơn ở cả 4 cạnh */
    transition: transform 0.2s ease;
}

.solution-card:hover {
    transform: translateY(-5px);
    border-bottom: 4px solid #1b154b;
}

/* Rectangle 5 */

.solution-card h4 {
    margin-bottom: 8px;
    font-weight: bold;
    color: #0f0672;
}

.description-services {
    font-size: 14px;
    color: #555;
    margin-bottom: 12px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* giới hạn 3 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 66px;
}

.solution-card a {
    color: #0b026d;
    font-weight: bold;
    text-decoration: none;
}

.service-icon {
    width: 35px;
    height: 35px;
    margin-right: 12px;
    object-fit: contain;
    vertical-align: middle;
}
