.inputWithSuffixKinhGui {
    position: relative;
    display: flex;
    align-items: center;
}

.inputSuffixKinhGui {
    color: #505050;
    pointer-events: none;
    font-size: 14px;
    margin: 0;
}

.inputWithSuffixKinhGui input {
    padding-right: 48px;
}

.inputKinhGui {
    padding: 0;
    margin-left: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom: 1px dashed #1e1b4b;
    color: #333;
    flex: 1;
    font-size: 14px;
    background: transparent;
}


.input,
.select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.2s;
    color: #505050;
    background-color: #fff;
    min-height: 40px;
    font-size: 14px;
}

.input:focus,
.select:focus {
    border-color: #40a9ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
