.legal-service-container {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.hero-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.hero-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition:
        transform 0.5s ease-in-out,
        opacity 0.5s ease-in-out;
}

.hero-slide.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
}

.hero-slide.prev {
    transform: translateX(-100%);
}

.hero-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    position: relative;
    z-index: 10;
}

.content {
    position: absolute;
    top: 50px;
    left: 50px;
    color: white;
    text-align: center;
}

.content h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.buttons button {
    background-color: white;
    color: #001f5f;
    width: 140px;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.buttons button:hover {
    background-color: #e6e6e6;
}

.slider-buttons img {
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.previous-icon {
    left: 125px;
}

.previous-icon:hover {
    transform: scale(1.1) translateY(-50%);
    transition: transform 0.1s ease;
}

.next-icon {
    right: 125px;
}

.next-icon:hover {
    transform: scale(1.1) translateY(-50%);
    transition: transform 0.1s ease;
}

.arrow {
    position: absolute;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.arrow.left {
    left: 20px;
    /* cách mép trái 20px */
}

.arrow.right {
    right: 20px;
    /* cách mép phải 20px */
}
