.login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 60px;
    background-color: transparent;
    color: white;
    z-index: 10;
    position: relative;
}

.text-slider {
    text-align: left;
    max-width: 600px;
    animation: slideInRight 0.5s ease-in-out;
    margin-bottom: -18px;
    margin-left: 280px;
    z-index: 20;
    position: relative;
}

.text-slider h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-slider p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.slider-dots {
    display: flex;
    gap: 10px;
}

.slider-dots .dot {
    width: 30px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-dots .dot.active {
    background-color: #ffffff;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slideInRightBg 0.5s ease-in-out;
    pointer-events: none;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: -9;
    pointer-events: none;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRightBg {
    from {
        opacity: 0;
        transform: translateX(150px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}