.search-box {
    position: relative;
    background: #f1f1f1;
    border-radius: 60px;
    border: 1px solid #9194ac;
    padding: 7px 18px;
    display: flex;
    align-items: center;
    margin: 0 12px;
    flex: 1;
    margin: 0 20px 0 30px;
}

.search-box-logged {
    width: 20%;
}

.search-box-not-logged {
    width: 110px;
}

.search-box input {
    border: none;
    background: transparent;
    padding: 6px 8px;
    outline: none;
    /* width: 120px; */
    flex: 1;
    font-size: 16px;
}

.search-icon {
    color: #888;
    font-size: 15px;
    margin-right: 6px;
    cursor: pointer;
}

.search-icon:hover {
    color: #1b154b;
}