.testimonials {
    text-align: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #1e144f;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cards-container.animating-next {
    animation: slideInFromRight 0.5s ease-in-out;
}

.cards-container.animating-prev {
    animation: slideInFromLeft 0.5s ease-in-out;
}

@keyframes slideInFromRight {
    from {
        opacity: 0.5;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.card {
    background: #fff;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: left;
    position: relative;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    z-index: 1;
}

.card.active {
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-5px);
}

.user-info {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 15px;
}

.customer-name {
    margin: 0;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}

.role-stars {
    font-size: 13px;
    color: gray;
    margin: 3px 0;
    display: flex;
    gap: 10px;
}

.stars {
    display: flex;
    gap: 4px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.stars img {
    width: 15px;
    height: 15px;
}

.feedback {
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.dots {
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 4px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.3s;
}

.dot.active {
    background-color: #1e144f;
}

.comments-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comments-container i {
    margin: 0 40px;
    font-size: 25px;
    cursor: pointer;
}
