.sectionGroup {
    margin-bottom: 30px;
    background: #fff;
    border-radius: 8px;
}

.sectionTitle {
    color: #1c1c1b;
    font-family: Roboto;
    font-weight: 600;
    font-size: 14px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
}

.formGroup {
    margin-bottom: 16px;
}

.label {
    display: block;
    margin-bottom: 6px;
    color: #505050;
    font-size: 14px;
    font-weight: 500;
}

.required {
    color: #f5222d;
    margin-left: 3px;
}

.input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.2s;
    color: #505050;
    background-color: #fff;
    min-height: 40px;
    font-size: 14px;
}

.input:focus {
    border-color: #40a9ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.inputWithSuffix {
    position: relative;
    display: flex;
    align-items: center;
}

.inputSuffix {
    position: absolute;
    right: 12px;
    color: var(--secondary-content);
    font-size: 14px;
    font-weight: 600;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
}