.sectionGroup {
    margin-bottom: 24px;
    background: #fff;
    border-radius: 8px;
}

.sectionTitle {
    color: #1c1c1b;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.subLabel {
    font-style: italic;
    color: var(--secondary-content);
    margin-bottom: 12px;
    font-size: 14px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 20px;
}

.formGroup {
    margin-bottom: 16px;
}

.label {
    display: block;
    margin-bottom: 6px;
    color: #505050;
    font-size: 14px;
    font-weight: 500;
}

.required {
    color: #f5222d;
    margin-left: 3px;
}

.input,
.select {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 0.2s;
    color: #505050;
    background-color: #fff;
    min-height: 40px;
    font-size: 14px;
}

.input:focus,
.select:focus {
    border-color: #40a9ff;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}

.inputWithSuffix {
    position: relative;
    display: flex;
    align-items: center;
}

.inputSuffix {
    position: absolute;
    right: 12px;
    color: var(--secondary-content);
    font-size: 14px;
    font-weight: 600;
    pointer-events: none;
}

.radioGroup {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 8px 0;
}

.radioLabel {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #505050;
    cursor: pointer;
    padding: 10px 8px;
}

.radioLabel:hover {
    background-color: #f0f5ff;
    border-radius: 4px;

}

.radioInput {
    width: 16px;
    height: 16px;
    accent-color: #10a142;
    margin: 0;
}

.tableWrapper {
    margin-top: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 8px;
}

.table th {
    background-color: #1b154b;
    color: #fff;
    font-weight: 600;
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

.table td {
    border: 1px solid #ddd;
    color: var(--secondary-content);
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 14px;
}

.tableInput {
    width: 100%;
    border: none;
    background: transparent;
    padding: 4px;
    font-size: 14px;
    outline: none;
}

.tableInput:focus {
    background: #f0f5ff;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .grid2 {
        grid-template-columns: 1fr;
    }
}