.banner-container {
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

.nav-btn {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 18px 4px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
}

.left-btn {
    position: absolute;
    left: 0px;
}

.right-btn {
    position: absolute;
    right: 0px;
}

.nav-btn i {
    font-size: 20px;
    color: #ffffff;
}

.nav-btn:hover i {
    color: #0066cc;
}

.banner-content {
    display: flex;
    width: 100%;
}

.banner-text {
    flex: 1;
    background: #1a1a4d;
    color: white;
    padding: 80px 40px 20px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto Condensed";
}

.banner-text h2 {
    margin: 0;
    font-size: 28px;
}

.banner-text p {
    color: var(--Object-White-90, rgba(249, 249, 249, 0.9));
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.btn-primary {
    background: white;
    width: 45%;
    color: #1a1a4d;
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
}

.banner-image {
    flex: 1.7;
    background: linear-gradient(90deg, red, darkred);
    padding: 20px;
    color: white;
    font-family: "Roboto";
    position: relative;
}

.banner-image-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    position: absolute;
    bottom: 20px;
    left: 20%;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.author-name {
    font-weight: bold;
}

.author-job {
    font-size: 14px;
    opacity: 0.9;
}

.award-info {
    font-size: 14px;
    opacity: 0.9;
    font-family: "Gilroy";
    text-align: right;
}

/* Thanh button danh má»¥c */
.category-bar {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.category-btn {
    border: 1px solid #ccc;
    background: white;
    border-radius: 8px;
    padding: 8px 14px;
    cursor: pointer;
}

.category-btn.active {
    color: #0066ff;
    border-color: #0066ff;
}
